<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    ToDo
  </h1>
  <div class="tasks-app">
    <div class="add-task">
        <span>Add task:</span>
      <input class=""
        [(ngModel)]="new_task" 
      > <!-- new_task variable is going to be used only from the UI site -->
        <!-- Input uses ngModel directive to wire two-way data binding. See also: https://angular.io/api/forms/NgModel -->
      <button 
        class="btn btn-primary"
        (click)="addTask(new_task)"
        [disabled]="!new_task"
        > <!-- Button already has click event to subscribe to -->
        Add
      </button>
    </div>
    <div class="task-list">
      <span class="no-tasks" *ngIf="tasks.length == 0">No tasks so far</span>
      <ul class="tasks" *ngIf="tasks.length > 0">
        <li *ngFor="let task of tasks"> <!-- Iterate through object, please notice 'of' keywoard from ES6 -->
          <app-task [task]="task" (deleted)="onDeleted($event)"></app-task> <!-- Passing our data object to the component and subscribint to component's events -->
        </li>
      </ul>
    </div>
  </div>
</div>