.complete {
  text-decoration: line-through;
}
.task {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  input {
    margin-right: 7px;
  }
  span {
    flex: 1 auto;
    text-align: left;
  }
  &:hover {
    background: #697e9112;
  }
}

.task-text {
  width: 100%;
  flex-grow: 1;
}

.complete-date {
  color: #ababab;
  padding: 0 7px;
}
