.logo {
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
}

.login {
  flex: 0 0 auto;
}

.menu {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
