<app-header>
  <h1 class="logo" color="warn" data-app-logo>{{ title }}</h1>
  <ul class="menu" data-app-menu>
    <!-- Router links -->
    <li class="menu-item">
      <a routerLink="" mat-button>ToDo</a>
    </li>
    <li class="menu-item">
      <a routerLink="archive" mat-button>Archive</a>
    </li>
  </ul>
  <form
    data-app-login
    class="login"
    *ngIf="(angularFireAuth.user | async) as user; else loginTemplate"
  >
    <button mat-stroked-button color="accent" (click)="logout()">
      {{ user.email }}
    </button>
  </form>
</app-header>

<ng-template #loginTemplate>
  <form class="login">
    <button mat-stroked-button color="accent" (click)="login()">
      Log in with Google
    </button>
  </form>
</ng-template>

<!-- Main content goes here -->
<router-outlet></router-outlet>
