<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Our first ToDo app
  </h1>
  <div class="tasks-app">
    <div class="add-task">
        <span>Add task:</span>
      <input class=""
        [(ngModel)]="new_task"
      >
      <button 
        class="btn btn-primary"
        (click)="addTask(new_task)"
        >
        Add
      </button>
    </div>
    <div class="task-list">
      <span class="no-tasks" *ngIf="tasks.length == 0">No tasks so far</span>
      <ul class="tasks" *ngIf="tasks.length > 0">
        <li *ngFor="let task of tasks">
          <app-task [task]="task" (deleted)="onDeleted($event)"></app-task>
        </li>
      </ul>
    </div>
  </div>
</div>
