// Import material theming functions
@import '~@angular/material/theming';

// Copy the pallets from theme
$app-primary: mat-palette($mat-grey);
$app-accent: mat-palette($mat-light-blue);
$app-warn: mat-palette($mat-pink);

// Create Sass color vars

$primary: mat-color($app-primary);
